# Ignore node_modules folder
node_modules/

# Ignore logs and backups
logs/*
backups/

# But do track specific logs
!logs/*.txt

# Ignore environment files
*.env

# Ignore Git files and lock files
.git/
*.lock

# Ignore system-specific files
.DS_Store
Thumbs.db

